body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 270px;
  margin: 0 auto;
}

input {
  width: 100%;
  outline: none;
}

.search-tips-block,
input {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search-tips,
input {
  padding: 10px 20px;
}

.search-tips-block .search-tips {
  transition: 0.2s;
  cursor: pointer;
}

.search-tips-block .search-tips:hover {
  background: #dedcdc;
}
